html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	height: 44px;
}

#nav-expandermini {
	display: none;
}

#basemapPanelDiv {
	width: 372px;
    position: absolute;
    z-index: 9999;
    height: 400px;
    right: 0;
    display: none;
    border: 1px solid #aaa;
    background: white;
    overflow: scroll;
}

#legendDiv{
	width: 372px;
    
    height: 200px; 
    border: 1px solid #aaa;
    overflow: auto;
}

.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail{
	margin: 1px !important;
}
/*#layer_list {
	height:210px;
	overflow:auto;
	  position:absolute;
	  right: 1px;
	  top: 84px;
	  z-index: 9999;
	  background: #f5f5f5;
      border: 1px solid #000;
      display:none;
      padding: 5px;
      width: 28%;
}*/

#layerlist{
	 display:none;
      /*position:absolute;
	  right: 1px;
	  top: 84px;
	  z-index: 9999;
	  background: #f5f5f5;
      border: 1px solid #aaa;
     
      padding: 5px;
      width: 28%;
      height:28%;
        	*/
}
#layerListDom{
	position:absolute;
	overflow: scroll;
	width: 28%;  
  right: 5px;
	  top: 84px;
	  z-index: 9999;
	  background: #f5f5f5;
      border: 1px solid #aaa;
      display:none;
      padding: 9px;
     
      height:27%;
}
.navbar-brand {
	float: left;
	padding: 5px !important;
}
.ipadicon {
	display: none;
}
h6 {
	float: right;
}

.ban {
	color: lightskyblue;
}

.titlebar {
	float: right;
	overflow: hidden;
	position: relative;
}
#datatable{
	position: absolute;
	width: calc(100% - 200px);
	height: calc(100% - 400px);
	margin: 0  auto;
	background: white;
	border: 1px solid black;
	top: 200px;
	left: 100px;
	z-index: 9999;
	display: none;
}
.navbar-header img {
	float: left;
}

.companyname {
	float: left;
}

.companyname a {
	float: left;
	margin: 0px;
	padding: 3px;
}

.toolbar {
	border-top-color: aliceblue;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
	rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%,
	rgba(218, 240, 246, 1) 82%, rgba(218, 240, 246, 1) 98%,
	rgba(218, 240, 246, 1) 100% );
	border-top: 2px solid aliceblue;
	border-bottom: 2px solid #ddf1fa;
	box-shadow: 0px 10px 5px lightgray;
	margin-bottom:10px;
	padding: 4px;
	padding left: 10px;
	height: 38px;
	z-index: 9999;
}

.toolicons {
	/*float: right;*/
	cursor: pointer;
}

#map, .map {
	
	width: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
}

#basemaps {
	float: left;
	width: inherit;
	cursor: pointer;
}
/*
#querywindow {
	display: none;
	width: 400px;
	height: 300px;
	position: relative;
	border-radius: 20px;
	background: #90a1bd;
	border: 2px solid #6a6f72;
	opacity: 0.95;
	z-index: 9999;
	box-shadow: 0 0 30px black;
}

#querycontent {
	padding: 10px;
}

#querytitle {
	padding: 5px 10px;
}

#querytitle h4 {
	float: left;
	width: 90%;
}

#querytitle span {
	float: right;
	font-size: 26px;
	cursor: pointer;
}

#noteswindow {
	display: none;
	width: 400px;
	height: 300px;
	position: relative;
	border-radius: 20px;
	background: #90a1bd;
	border: 2px solid #6a6f72;
	opacity: 0.95;
	z-index: 5;
	box-shadow: 0 0 30px black;
}

#notescontent {
	padding: 10px;
}

#notestitle {
	padding: 5px 10px;
}

#notestitle h4 {
	float: left;
	width: 90%;
}

#notestitle span {
	float: right;
	font-size: 26px;
	cursor: pointer;
}*/

.style {
	background-color: white;
	color: black;
	border: 2px solid #bccfe6;
	border-radius: 5px;
	padding: 2px 10px;
	margin-bottom: 2px;
}

.style:hover {
	background-color: #e7e7e7;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #bbd3e7;
}
a {
    color: #c0dbfa;
    text-decoration: none;
    font-family: times;
}
a.nav-expander {/* quick link button collapsed */
	background: repeat scroll 0 0 #f5f5f5;
	color: #101010;
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin: 2px 2px 0px 0px;
	padding: 8px 15px 7px 15px;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: right 0.3s ease-in-out 0s;
	z-index: 12;
	transition: right 0.3s ease-in-out 0s;
	-webkit-transition: right 0.3s ease-in-out 0s;
	-moz-transition: right 0.3s ease-in-out 0s;
	-o-transition: right 0.3s ease-in-out 0s;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

a.nav-expander:hover {
	cursor: pointer;
	text-decoration: underline;
}

a.nav-expander.fixed {
	position: fixed;
	top: 116px;
}

.nav-expanded a.nav-expander.fixed {
	right: 239px; /* quick link button expanded */
	top: 116px;
}

nav {
	background: transparent;
	display: block;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 85px;
	right: -227px; /* menu offset */
	font-size: 10px;
	width: 227px; /* menu width */
	z-index: 2000;
	margin: 2px 0px 0px 0px;
	transition: right 0.3s ease-in-out 0s;
	-webkit-transition: right 0.3s ease-in-out 0s;
	-moz-transition: right 0.3s ease-in-out 0s;
	-o-transition: right 0.3s ease-in-out 0s;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
}

.nav-expanded nav {
	right: 0;
}

body.nav-expanded {
	margin-left: 0em;
	transition: right 0.4s ease-in-out 0s;
	-webkit-transition: right 0.4s ease-in-out 0s;
	-moz-transition: right 0.4s ease-in-out 0s;
	-o-transition: right 0.4s ease-in-out 0s;
}

.panel-default {
	border-color: transparent;
}
.panel-heading {
	padding: 10px 15px;
	text-align: left;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 0px;
}
.panel-heading.collapsed:hover {
    cursor: pointer;
}
.panel-body {
    padding: 15px;
    text-align: center;
}
.panel {
	background-color: #86a9c7;
	border: 1px solid transparent;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
}

.panel-title {
	font-weight: 600;
}

.widgetpanel {
	background: transparent;
	border: none;
}

.messagebtn {
	margin: 5px;
}

.modal-content {
	position: fixed;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
from {
	top: -300px;
	opacity: 0
}
to {
	top: 0;
	opacity: 1
}
}

@keyframes
animatetop {from {
	top: -300px;
	opacity: 0
}
to {
	top: 0;
	opacity: 1
}
}

#companymini {
	display: none;
}

@media only screen and (min-width: 415px) and (max-width: 792px) {/* For mobile ipads: */
	.navbar-nav li a, #clientmainlogo {

		display: none;
	}
	h6 {
		float: left;
	}

	.titlebar {
		/*float:left; */
		overflow: visible;
	}
	.topheader {
		float: left;
	}

}
@media only screen and (max-width: 414px) {

	.navbar-nav li a, #clientmainlogo, #biglogo {

		display: none;
	}

	#nav-expander {
		display: none;
	}
	#companymini {
		display: block;
		right: 0;
		position: absolute;
	}

	#nav-expandermini {
		display: block;
		right: 6px;
	}
	#nav-expandermain {
		display: none;
	}
	.titlebar {
		/*float:left; */
		overflow: visible;
	}
	.topheader {
		float: left;
	}
}

@media only screen and (max-width: 414px) {
	/* For mobile phones:ipads */
	#basemapPanelDiv {
		width: 260px;
		overflow: scroll;
	}
}

#LocateButton {
	position: absolute;
	top: 473px;
	left: 13px;
	z-index: 50;
	border-radius: 5px;
	padding: 2px;
}
.LocateButton .zoomLocateButton:hover {
	background-color: #333;
	background-color: rgb(55, 52, 114) !important;
}
.LocateButton .zoomLocateButton {
	padding: 2px;
	width: 30px;
	height: 30px;
	background-color: #666;
	background-color: rgb(118, 182, 217) !important;
}
@media only screen and (max-width: 414px) {
	/* For mobile phones,ipads */
	#LocateButton {
		top: 325px !important;
	}
}
.esriLargeSliderTL {
    top: 2px;
    left: 20px;
    background: transparent;
    padding: 10px;
    border-radius: 12px;
    width: 30px;;
}
@media only screen and (max-width: 414px) {
	/* For mobile phones,ipads */
	#HomeButton {
	display: block;
	position: absolute;
	top: 331px;
    left: 13px;
	z-index: 50;
	border-radius: 5px;
	padding: 2px;
	}
	.HomeButton .home {
	padding: 2px;
	width: 30px;
	height: 30px;
	background-color: #666;
	background-color: rgb(118, 182, 217) !important;
}
.HomeButton .home:hover {
	background-color: #333;
	background-color: rgb(55, 52, 114) !important;
}
}
#HomeButton {	
	display: none;	
}
.HomeButton .home {
	display:none;
}

#search {
	position: absolute;
	z-index: 50;
	display: none;
	top: 46px;
	cursor: pointer;
	left: 13px !important;
}

#search :hover {
	background-color: #e7e7e7;
	cursor: pointer;
}
.arcgisSearch .searchBtn {
    display: block;
    float: left;
    padding: 6px 7px !important;
    margin: 0; 
    border-radius: 4px;
    background-color: whitesmoke !important;
  } 
   
.zoominIcon {
	background-image: url(images/i_zoomin_40.png);
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.zoomoutIcon {
	background-image: url(images/i_zoomout_40.png);
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.zoomfullextIcon {
	background-image: url(images/i_zoomfull_40.png);
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.zoomprevIcon {
	background-image: url(images/i_zoomprevious_blu_40.png);
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.zoomnextIcon {
	background-image: url(images/i_zoomnext_blu_40.png);
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

.panIcon {
	background-image: url(images/i_pan_40.png);
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

#MapNavBtnDiv{
	position : absolute;
	top: 290px;
	left: 12px;
	z-index: 50;
	display: block;
	
}
@media only screen and (max-width: 414px) {
	/* For mobile phones,ipads */
	#MapNavBtnDiv {
		display: none;
	}
	#search {
		top:90px !important;
	}
	.esriLargeSliderTL {
    top: 33px;
}
}
#map_graphics_layer {
    cursor: pointer;
    opacity: 0.5 !important;
}
button, input, optgroup, select, textarea {
    margin: -1px;
    font: inherit;
   
    color: inherit;
}                        
#featuretable
{
	position:absolute;
	top: 10%;
	left: 10%;
	height: 50%;
	width: 50%;
	z-index:-100;
	/*margin: 100px 150px 100px 80px;*/
	/*display: none;	*/
    /*background-color: white;*/
}


